*{
    padding: 0;
    margin: 0;
}

:root {
    --primary-color :hsl(217, 54%, 11%);
    --secundy-color :hsl(216, 50%, 16%);
    --title-color: #fafafa;
    --subtitle-color: hsl(215, 24%, 67%);
    --eth-color: hsl(178, 100%, 50%);
    --border-color: hsl(216, 50%, 16%);
}

body {
    background-color: var(--primary-color);
    transition: background 0.3s linear;
}

body.dark {
    --primary-color: #fafafa;
    --secundy-color: #f3f7f5;
    --title-color: #0a0a0a;
    --subtitle-color: hsl(210, 3%, 34%);
    --eth-color: hsl(180, 20%, 23%);
    --border-color: hsl(216, 50%, 16%);;
}

.principal {
    height: 100vh;  
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: hsl(217, 56%, 8%);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;;
    position: relative;
    height: 26px;
    width: 50px;
    padding: 3px;
    margin-bottom: 10px;
    color: yellow;
}

.label .ball {
    background-color: #fafafa;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    height: 26px;
    width: 25px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}


.fa-sun {
    margin-right: 4px;
    color: white;
}

.fa-moon {
    margin-left: 4px;
    color: white;
}

.card-box {
    background-color: var(--secundy-color);
    height: 570px;
    width: 370px;
    border-radius: 15px;
    border: 2px solid var(--border-color);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
}

.img-top {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.img-top img {
    margin-top: 20px;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    display: block;
}

.img-overlay {
    border-radius: 10px;
    margin-top: 20px;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsla(178, 100%, 50%, 0.5);
    display: none;
}

.img-overlay img {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-35%,-100%);
}

.img-top:hover .img-overlay {
    display: block;
}

.title {
    color: var(--title-color);
    width: 370px;
    margin-top: 15px;
    text-align: start;
    margin-left: 70px;
    font-family: 'Outfit';
    font-weight: 600;
}

.sub-title{
    font-family: 'Outfit';
    color: var(--subtitle-color);
    width: 320px;
    margin-left: 20px;
    margin-top: 13px;
}

.info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-family: 'Outfit';
}

.info-eth {
    display: flex;
    margin-right: 50px;
    color: var(--eth-color);
}

.info-eth img{
    margin-top: 20px;
    height: 15px;
    width: 10px;
}

.info-eth p {
    margin-top: 18px;
    margin-left: 7px;
}

.info-clock {
    display: flex;
    color: var(--subtitle-color);
}

.info-clock img {
    margin-top: 20px;
    height: 17px;
    width: 17px;
}

.info-clock p {
    margin-top: 18px;
    margin-left: 5px;
}

.user {
    margin-top: 20px;
    border-top: 2px solid hsl(215, 32%, 27%);
    width: 320px;
    display: flex;
    font-family: 'Outfit';
    color: var(--subtitle-color);
}

.user img {
    margin-top: 20px;
    height: 40px;
    width: 40px;
}

.user p {
    margin-left: 15px;
    margin-top: 30px;
}

.principal-box {
    display: flex;
    flex-direction: row;
}